.container .row #map {
  height: 400px;
  border: 2px solid; }

.footer {
  padding: 0 80px;
  height: 80px;
  margin-top: 150px; }
  .footer .row .copywrite h4 {
    color: #a6aaad;
    font-size: 1.8rem;
    display: inline-block; }
  .footer .row .copywrite h2 {
    color: #a6aaad;
    font-size: 1.8rem;
    display: inline-block; }
  .footer .row .copywrite img {
    fill: #a6aaad;
    width: auto;
    height: 20px;
    margin-top: -5px; }

.bottomNav ul {
  position: absolute;
  bottom: -40px;
  margin-top: auto;
  margin-bottom: auto; }
  .bottomNav ul li {
    font-size: 1.8rem;
    display: inline-block;
    padding: 0 5px;
    vertical-align: bottom; }
    .bottomNav ul li a {
      color: #a6aaad;
      text-decoration: none; }
      .bottomNav ul li a:hover {
        color: #585a5b; }
