* {
  box-sizing: border-box; }

.top .header img {
  height: 40px;
  width: auto;
  margin-top: 20px;
  padding: 0; }

.top .nav ul {
  padding-top: 30px;
  padding-right: 30px;
  text-align: right; }
  .top .nav ul li {
    font-size: 2.2rem;
    display: inline-block;
    padding: 0 30px;
    vertical-align: bottom; }
    .top .nav ul li a {
      color: #a6aaad;
      text-decoration: none; }
      .top .nav ul li a:hover {
        color: #585a5b; }

.testimonials {
  background-color: #d5dae0;
  padding: 0 80px;
  padding-top: 20px;
  border-radius: 20px;
  z-index: -1; }
  .testimonials h2 {
    text-align: center;
    padding: 20px 0; }
  .testimonials .testimonial {
    text-align: center;
    padding: 40px; }
    .testimonials .testimonial h3 {
      color: #585a5b; }
    .testimonials .testimonial h4 {
      color: #a6aaad; }
    .testimonials .testimonial img {
      height: 200px;
      width: auto;
      border-radius: 50%; }

.companies {
  padding: 0 80px; }
  .companies h2 {
    text-align: center;
    padding: 20px 0; }
  .companies .company {
    text-align: center;
    padding: 40px; }
  .companies img {
    height: 150px;
    width: auto;
    border-radius: 10px; }
