img {
  max-width: 100%;
  max-height: 100%; }

.top {
  background-color: white;
  padding-bottom: 80px; }

#carousel-image-1,
#carousel-image-2 {
  max-height: 550px;
  max-width: 550px; }

.fa-facebook,
.fa-twitter,
.fa-instagram {
  float: right;
  font-size: 35px;
  padding: 10px; }

#carousel-example-generic {
  border-radius: 25px; }

.product-name {
  vertical-align: top; }

#main-page-product-image {
  border-radius: 5px;
  max-height: 500px;
  max-width: 450px; }

.product-image {
  border-radius: 5px;
  max-height: 337px; }

.product-image-home {
  margin-top: 20px;
  border-radius: 5px; }

div.product-description {
  border-radius: 5px;
  background-color: #a6aaad;
  margin-top: 15px; }

a.navbar-brand {
  margin-top: -8px; }

img .product-image {
  border-radius: 15px; }

.cart-and-social {
  margin-top: 25px; }

.logo-image {
  max-height: 100px;
  max-width: 100px; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  float: right; }

#map {
  height: 500px;
  width: 100%; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba 0, 0, 0, 0, 0.4; }

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #999999;
  width: 30%;
  height: 150px;
  border-radius: 5px;
  text-align: center;
  font-size: 25px; }

.close {
  color: #bdc3c9;
  float: right;
  font-size: 30px;
  font-weight: bold; }

.close.hover {
  color: black;
  text-decoration: none;
  cursor: crosshair; }

.footer {
  padding: 0 80px;
  height: 80px;
  margin-top: 80px; }
  .footer .row .copywrite h4 {
    color: #a6aaad;
    font-size: 1.8rem;
    display: inline-block; }
  .footer .row .copywrite h2 {
    color: #a6aaad;
    font-size: 1.8rem;
    display: inline-block; }
  .footer .row .copywrite img {
    fill: #a6aaad;
    width: auto;
    height: 20px;
    margin-top: -5px; }
  .footer .row .bottomNav ul {
    position: absolute;
    bottom: -40px;
    margin-top: auto;
    margin-bottom: auto; }
    .footer .row .bottomNav ul li {
      font-size: 1.8rem;
      display: inline-block;
      padding: 0 5px;
      vertical-align: bottom; }
      .footer .row .bottomNav ul li a {
        color: #a6aaad;
        text-decoration: none; }
        .footer .row .bottomNav ul li a:hover {
          color: #585a5b; }
