*{
	box-sizing: border-box;
}

// top styling

.top{

	.header{
		height: 90px;

		img{
			height: 40px;
			width: auto;
			margin-top: 20px;
			padding: 0;
		}
	}

	.nav{
		ul{
			padding-top: 30px;
			padding-right: 30px;
			text-align: right;
			li{
				font-size: 2.2rem;
				display: inline-block;
				padding: 0 30px;
				vertical-align: bottom;

				a{
					color: #a6aaad;
					text-decoration: none;

					&:hover{
						color: #585a5b;
					}
				}
			}
		}
	}
}

// Testimonial styling
.testimonials{
	background-color: #d5dae0;
	padding: 0 80px;
	padding-top: 20px;
	border-radius: 20px;
	z-index: -1;

	h2{
		text-align: center;
		padding: 20px 0;
	}
	.testimonial{
		text-align: center;
		padding: 40px;

		h3{
			color: #585a5b;
		}

		h4{
			color: #a6aaad;
		}

		img{
			height: 200px;
			width: auto;
			border-radius: 50%;
		}
	}
}

// Company styling
.companies{
	padding: 0 80px;

	h2{
		text-align: center;
		padding: 20px 0;
	}

	.company{
		text-align: center;
		padding: 40px;
	}

	img{
		height: 150px;
		width: auto;
		border-radius: 10px;
	}
}

// Footer styling

.footer{
	padding: 0 80px;
	height: 80px;
	margin-top: 80px;

	.row{

		.copywrite{

			h4{
				color: #a6aaad;
				font-size: 1.8rem;
				display: inline-block;
			}

			h2{
				color: #a6aaad;
				font-size: 1.8rem;
				display: inline-block;
			}

			img{
				fill: #a6aaad;
				width: auto;
				height: 20px;
				margin-top: -5px;
			}
		}

		.bottomNav{

			ul{
				position: absolute;
				bottom: -40px;
				margin-top: auto;
				margin-bottom: auto;

				li{
					font-size: 1.8rem;
					display: inline-block;
					padding: 0 5px;
					vertical-align: bottom;

					a{
						color: #a6aaad;
						text-decoration: none;

						&:hover{
							color: #585a5b;
						}
					}
				}
			}
		}
	}
}


