@import 'colors';

.container{
    .navbar-header{
        .navbar-brand{

            h1 {
                font-size: 3rem;
                display: inline-block;
                vertical-align: bottom;
                margin-top: 0px;
                color: black;
            }

            img{
                display: inline-block;
                height: 35px;
                margin-right: 5px;
            }
        }
    }
}

.top {
    padding-top: 60px;
    background-color: white;
    padding-bottom: 80px;
}

#carousel-image-1,
#carousel-image-2 {
    max-height: 550px;
    max-width: 550px;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
    float: right;
    font-size: 35px;
    padding: 10px;
}

#carousel-example-generic {
    border-radius: 25px;
}

.product-name {
    vertical-align: top;
}

#main-page-product-image {
    border-radius: 5px;
    max-height: 500px;
    max-width: 450px;
}

.product-image {
    border-radius: 5px;
    max-height: 337px;
}

.product-image-home {
    margin-top: 20px;
    border-radius: 5px;
}

a.navbar-brand {
    margin-top: -8px;
}

img .product-image {
    border-radius: 15px;
}

.cart-and-social {
    margin-top: 25px;
}

.logo-image {
    max-height: 100px;
    max-width: 100px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    float: right;
}

#map {
    height: 500px;
    width: 100%;
}

// Modal background
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba (0, 0, 0, 0, .4);
}

// Modal content
.modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #999999;
    width: 30%;
    height: 150px;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
}

// Close button
.close {
    color: #bdc3c9;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close.hover {
    color: black;
    text-decoration: none;
    cursor: crosshair;
}

.navbar{
    .container{
        ul{
            li{
                &:hover{
                    background-color: #e0e0e0;
                }
            }
        }
    }
}



.footer{
	padding: 0 80px;
	height: 80px;
	margin-top: 80px;

	.row{

		.copywrite{

			h4{
				color: $fourth-color;
				font-size: 1.8rem;
				display: inline-block;
			}

			h2{
				color: $fourth-color;
				font-size: 1.8rem;
				display: inline-block;
			}

			img{
				fill: $fourth-color;
				width: auto;
				height: 20px;
				margin-top: -5px;
			}
		}

		.bottomNav{

			ul{
				position: absolute;
				bottom: -40px;
				margin-top: auto;
				margin-bottom: auto;

				li{
					font-size: 1.8rem;
					display: inline-block;
					padding: 0 5px;
					vertical-align: bottom;

					a{
						color: $fourth-color;
						text-decoration: none;

						&:hover{
							color: $second-color;
						}
					}
				}
			}
		}
	}
}



